<div class="jumbotron">
    <h1>Approvals</h1>
    <p class="lead">Approvals is a .NET Web API interface into the PowerAutomate Approvals connector that require ZERO licensing for the Common Data Service (CDS) or DataVerse as it's now known.</p>
    <p><a href="https://github.com/cjvandyk/Quix/tree/master/Approval" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To get started, start with this guide.</p>
        <p><a class="btn btn-default" href="https://github.com/cjvandyk/Quix/tree/master/Approval">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assimulate</h2>
        <p>Integrating the Approvals Connector for PowerAutomate into your workflows is quick and easy.</p>
        <p><a class="btn btn-default" href="https://github.com/cjvandyk/Quix/tree/master/Approval">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save $$$</h2>
        <p>No more need for CDS/DataVerse licenses or individual PowerApps licenses.  Build approval workflows to replace your 2010 workflows with ease and SAVE!  Resistance is futile!</p>
        <p><a class="btn btn-default" href="https://github.com/cjvandyk/Quix/tree/master/Approval">Learn more &raquo;</a></p>
    </div>
</div>
